@model IEnumerable<MyProject.Models.DataContext>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>Unique_Identity</th>
            <th>UserName</th>
            <th>Password</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var Validation in ViewBag.Validation)
        {
        <tr>
            <td>
                @Validation.Unique_Identity
            </td>
            <td>
                @Validation.UserName
            </td>
            <td>
                @Validation.Password
            </td>
        </tr>
        }
    </tbody>
</table>